/*                KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM) \
  combo_##NAME { \
    timeout-ms = <TERM>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

// Brackets: inner columns
COMBO(lbrc,            &kp LBRC,              3  4, QWR CLM, 40)
COMBO(rbrc,            &kp RBRC,              5  6, QWR CLM, 40)
COMBO(lpar,            &kp LPAR,             13 15, QWR CLM, 40)
COMBO(rpar,            &kp RPAR,             15 16, QWR CLM, 40)
COMBO(lbkt,            &kp LBKT,             23 24, QWR CLM, 40)
COMBO(rbkt,            &kp RBKT,             25 26, QWR CLM, 40)
COMBO(lt,              &kp LT,               13 24, QWR CLM, 40)
COMBO(gt,              &kp GT,               16 25, QWR CLM, 40)
COMBO(colon,           &kp COLON,             6  7, QWR CLM, 40)
COMBO(equal,           &kp EQUAL,          6  7  8, QWR CLM, 40)
COMBO(under,           &kp UNDER,             7  8, QWR CLM, 40)
COMBO(bslh,            &kp BSLH,             28 29, QWR CLM, 40)
COMBO(pipe,            &kp PIPE,             27 28, QWR CLM, 40)

// Layers (for one-handed use)
COMBO(layer_extend,    &mo NAV,              33 19, QWR CLM, 60)

// Big keys
COMBO(esc,             &kp ESC,               2  3, QWR CLM, 40)
COMBO(bspc_l,          &kp BSPC,              1  2, QWR CLM, 40)

// Text processing
// ext layer
COMBO(capswd,          &caps_word,           13 16,     NAV, 60)
COMBO(copy_mac,        &kp LG(C),            21 22,     NAV, 40)
COMBO(paste_mac,       &kp LG(V),            22 23,     NAV, 40)
COMBO(cut_mac,         &kp LG(X),            21 23,     NAV, 40)

// System
// ext layer
COMBO(launch_mac,      &kp LG(SPACE),     11 12 13,     NAV, 40)
COMBO(back_mac,        &kp LG(LBKT),          1  2,     NAV, 40)
COMBO(fwd_mac,         &kp LG(RBKT),          3  4,     NAV, 40)
COMBO(menu_search,     &kp LG(LS(SLASH)),    27 28,     NAV, 40)

// Firmware
// outer column + non-homing thumb
COMBO(reset_left,      &reset,             0 10 20, QWR CLM, 60)
COMBO(reset_right,     &reset,             9 19 29, QWR CLM, 60)
COMBO(boot_left,       &bootloader,     30 0 10 20, QWR CLM, 60)
COMBO(boot_right,      &bootloader,     33 9 19 29, QWR CLM, 60)


// vim:ft=c
