/* key positions
    0  1  2  3  4         5  6  7  8  9
   10 11 12 13 14        15 16 17 18 19
   20 21 22 23 24        25 26 27 28 29
               30 31  32 33             */

compatible = "zmk,combos";

#define BASE QWR CLM

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM) \
  combo_##NAME { \
    timeout-ms = <TERM>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

// Symbols
COMBO(lpar,            &kp LPAR,             12 13,    BASE, 50)
COMBO(rpar,            &kp RPAR,             16 17,    BASE, 50)
COMBO(lbkt,            &kp LBKT,             11 12,    BASE, 50)
COMBO(rbkt,            &kp RBKT,             17 18,    BASE, 50)
COMBO(lt,              &kp LT,               13 14,    BASE, 50)
COMBO(gt,              &kp GT,               15 16,    BASE, 50)
COMBO(colon,           &kp COLON,             6  7,    BASE, 50)
COMBO(semi,            &kp SEMI,             26 27,    BASE, 50)
// COMBO(dqt,             &kp DQT,              18 19,    BASE, 60)
COMBO(equal,           &kp EQUAL,          6  7  8,    BASE, 50)
COMBO(under,           &kp UNDER,             7  8,    BASE, 50)
COMBO(bslh,            &kp BSLH,             27 28,    BASE, 50)

// Layers (for one-handed use)
COMBO(layer_nav,       &mo NAV,              33 19,    BASE, 50)

// Big keys
COMBO(bspc_l,          &kp BSPC,             10 11,    BASE, 50)
COMBO(bspc_r,          &kp BSPC,             18 19,    BASE, 50)
COMBO(ret_l,           &kp RET,           11 12 13,    BASE, 50)
COMBO(ret_r,           &kp RET,           16 17 18,    BASE, 50)

// System
COMBO(copy_mac,        &kp LG(C),            21 22,    BASE, 50)
COMBO(paste_mac,       &kp LG(V),         21 22 23,    BASE, 50)
COMBO(undo_mac,        &kp LG(Z),            20 21,    BASE, 50)
COMBO(redo_mac,        &kp LG(LS(Z)),        23 24,    BASE, 50)
COMBO(cut_mac,         &kp LG(X),            21 23,    BASE, 50)
COMBO(capswd,          &caps_word,           13 16,     NAV, 50)
COMBO(launch_mac,      &kp LG(SPACE),     11 12 13,     NAV, 50)
COMBO(back_mac,        &kp LG(LBKT),          1  2,     NAV, 50)
COMBO(fwd_mac,         &kp LG(RBKT),          2  3,     NAV, 50)
COMBO(tab_lt,          &kp TAB_LT,            1 11,     NAV, 50)
COMBO(tab_rt,          &kp TAB_RT,            3 13,     NAV, 50)
COMBO(menu_search,     &kp LG(LS(SLASH)),    28 29,     NAV, 50)

// Firmware
// outer column + non-homing thumb
COMBO(reset_left,      &reset,             0 10 20,    BASE, 50)
COMBO(reset_right,     &reset,             9 19 29,    BASE, 50)
COMBO(boot_left,       &bootloader,     30 0 10 20,    BASE, 50)
COMBO(boot_right,      &bootloader,     33 9 19 29,    BASE, 50)


// vim:ft=c
